.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Form Style */
.parent {
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  flex-wrap: wrap;
}

.parent .box {
  width: 50%;
  text-align: center;
  background-color: rgb(44 0 160);
  padding: 15px;
  border-radius: 5px;
}

.parent .box hr {
  border: #e8a0a0 1px solid;
  margin-top: 15px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.emp input {
  margin: auto;
  width: 20px;
  height: 20px;
}

input[type="submit"] {
  color: white;
  width: 100px;
  padding: 10px 0;
  background-color: rgb(207 0 108);
  border-radius: 4px;
  margin: auto;
  outline: none;
  border: none;
  transition: 0.3s;
}

input[type="submit"]:hover {
  background-color: rgb(135, 2, 71);
}

.popup {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(220, 15%, 23%, 0.5);
}

.popup p {
  background-color: white;
  color: green;
  font-size: 18px;
  padding: 10px 0;
  width: 500px;
}

.popup-content {
  text-align: center;
  background-color: white;
  color: green;
}

.disabled {
  background-color: #5872a5 !important;
  cursor: not-allowed !important;
}
